<h1>Movies!</h1>

<h2>Movies that are not watched!</h2>

<ul>
    {{#each Movies}}
    {{#unless watched}}
    {{> Movies/movie-block watched=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Movies that are watched!</h2>

<ul>
    {{#each Movies}}
    {{#if watched}}
    {{> Movies/movie-block watched=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a movie</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Movie Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="watched">Watched?</label><br>
        <input type="radio" name="watched" value="1" checked> Not Watched<br>
        <input type="radio" name="watched" value="0"> Watched
    </div>

    <button type="submit">Add movie</button>
</form>